
body{
  margin: 3rem;
}


.main{
  display: flex;
  gap: 9rem;
  flex-direction: column;
}

.main__acounts{
  display: flex;
  gap: 6rem;
  justify-content: center;
}

.main__balance{
  display: flex;
  justify-content: center;
}